@import "../../globalStyles/_variables";
@import '../../globalStyles/_mixins';

.counter-button {
  background-color: transparent;
  color: $color-secondary;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  padding: 1rem;
  margin: 1rem;
  border-radius: 30px;
  border: 2px solid $color-secondary;
  display: inline-block;
  cursor: pointer;
  transition: all 0.2s;

  @include respond(phone) {
    padding: .7rem;
  }

  &:hover {
    background-color: $color-secondary;
    color: $color-primary;
  }
}
